<div class="">
  <!--HEADER-->
  <div class="row mb-4">
    <div class="col-12">
<!--      <small>{{'last_update.title' | translate}}: {{last_update ? last_update : 5 - 3 - 2020}}</small>-->
    </div>
  </div>
  <!---CONTENT-->
  <div class="">
    <!---CARDS-->
    <div class="row" [ngClass]="{ rtl: language === 'ar' }">
      <div class="col-md-3">
        <div class="card no-chart ml-0">
          <span class="header-title">{{ "confirmed.title" | translate }}</span>
          <div class="">
            <p class="number-no-chart">{{ confirmed ? confirmed : 0 }}</p>
            <p class="small">{{'last_update.title' | translate}}: {{last_update ? last_update : 5 - 3 - 2020}}</p>
          </div>

        </div>
      </div>
      <div class="col-md-3">
        <div class="card no-chart">
          <span class="header-title">{{
            "number_last_day.title" | translate
            }}</span>
          <div class="">
                      <p class="number-no-chart">{{
                        hospitalized ? hospitalized : 0
                        }}</p>
            <p class="small">{{'last_update.title' | translate}}: {{last_update ? last_update : 5 - 3 - 2020}}</p>
          </div>

        </div>
      </div>
      <div class="col-md-3">
        <div class="card no-chart 0">
          <span class="header-title">{{ "discharged.title" | translate }}</span>
          <div class="">
            <p class="number-no-chart">{{ discharged ? discharged : 0 }}  </p>
            <p class="small">{{'last_update.title' | translate}}: {{last_update ? last_update : 5 - 3 - 2020}}</p>
          </div>

        </div>

      </div>
      <div class="col-md-3 mr-0">
        <div class="card no-chart mr-0">
          <span class="header-title">{{
            "restablished.title" | translate
            }}</span>
          <div class="">
                      <p class="number-no-chart">{{
                        restablished ? restablished : 0
                        }}</p>
            <p class="small">{{'last_update.title' | translate}}: {{last_update ? last_update : 5 - 3 - 2020}}</p>
          </div>

        </div>
      </div>
    </div>
    <div class="row" [ngClass]="{ rtl: language === 'ar' }">
      <div class="col-md-3">
        <div class="card no-chart ml-0">
          <span class="header-title">{{ "quarantaine_number.title" | translate }}</span>
          <div class="">
            <p class="number-no-chart">{{ quarantaine ? quarantaine : 0 }}</p>
            <p
              class="small">{{'last_update.title' | translate}}
              : {{dateStatistics ? dateStatistics : '-'}}</p>
          </div>

        </div>
      </div>
      <div class="col-md-3">
        <div class="card no-chart">
          <span class="header-title">{{
            "current_quarantaine_number.title" | translate
            }}</span>
          <div class="">
            <p class="number-no-chart">{{
              quarantaine_achevee ? quarantaine_achevee : 0
              }}</p>
            <p
              class="small">{{'last_update.title' | translate}}
              : {{dateStatistics ? dateStatistics : '-'}}</p>
          </div>

        </div>
      </div>
      <div class="col-md-3">
        <div class="card no-chart 0">
          <span class="header-title">{{ "tests_number.title" | translate }}</span>
          <div class="">
            <span class="number-no-chart">{{ depistage ? depistage : 0 }}</span>
            <p class="small">{{'last_update.title' | translate}}: {{dateStatistics ? dateStatistics : '-'}}</p>
          </div>


        </div>
      </div>
      <div class="col-md-3 mr-0">
        <div class="card no-chart mr-0">
          <span class="header-title">{{
            "positive_tests_positif.title" | translate
            }}</span>
          <div class="">
                      <p class="number-no-chart">{{
                        ratio ? ratio : 0
                        }}%</p>
            <p class="small">{{'last_update.title' | translate}}: {{dateStatistics ? dateStatistics : '-'}}</p>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="card-chart cases-card">
          <div class="chart-header" [ngClass]="{ rtl: language === 'ar' }">
            <span class="header-title-charts">{{
              "number_of_cases_per_day.title" | translate
              }}</span>

            <div class="legends">
              <div class="one-legend">
                <span class="d-inline-block wd-7 ht-7 rounded-circle mg-r-5" style="background-color: #6342D2;"></span>
                <span class="legend-label">{{
                  "confirmed.title" | translate
                  }}</span>
              </div>
              <div class="one-legend">
                <span class="d-inline-block wd-7 ht-7 rounded-circle mg-r-5" style="background-color: #59D5FD;"></span>
                <span class="legend-label">{{
                  "discharged.title" | translate
                  }}</span>
              </div>
              <div class="one-legend">
                <span class="d-inline-block wd-7 ht-7 rounded-circle mg-r-5" style="background-color: #FB6B80;"></span>
                <span class="legend-label">{{
                  "restablished.title" | translate
                  }}</span>
              </div>
              <div class="one-legend">
                <span class="d-inline-block wd-7 ht-7 rounded-circle mg-r-5" style="background-color: #3BA756;"></span>
                <span class="legend-label">{{ "dead.title" | translate }}</span>
              </div>
            </div>
            <p>{{language == 'ar' ? 'اخر تحديث' : 'Mise à jour'}} : {{lastUpdates && lastUpdates['casePerDay'] ? lastUpdates['casePerDay'] : '-'}}</p>
          </div>

          <div style="height: 90%;">
            <app-charts [dataSource]="stackedEndpoint" [chartLabel]="'casePerDay'" [chartType]="'bar'" (lastUpdate)="resultLastUpdate($event)"></app-charts>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-chart cases-card">
          <div class="chart-header" [ngClass]="{ rtl: language === 'ar' }">
            <span class="header-title-charts">{{
              "gender.title" | translate
              }}</span>
            <!-- <div class="legends">
              <div class="one-legend">
                <span class="d-inline-block wd-7 ht-7 rounded-circle mg-r-5" style="background-color: #6342D2;"></span>
                <span class="legend-label">Masculin</span>
              </div>
              <div class="one-legend">
                <span class="d-inline-block wd-7 ht-7 rounded-circle mg-r-5" style="background-color: #59D5FD;"></span>
                <span class="legend-label">Fémenin</span>
              </div>
            </div> -->
          </div>
          <app-charts [legend]="true" [language]="language" [chartLabel]="'genderPie'" [dataSource]="genderPieEndpoint"
                      [chartType]="'pie'">
          </app-charts>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card-chart cases-card">
          <div class="chart-header" [ngClass]="{ rtl: language === 'ar' }">
            <span class="header-title-charts">{{
              "nationality.title" | translate
              }}</span>
          </div>
          <app-charts [language]="language" [chartLabel]="'nationalityPie'" [dataSource]="nationalitiesEndpoint"
                      [legend]="true" [chartType]="'pie'"></app-charts>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-chart cases-card">
          <div class="chart-header" [ngClass]="{ rtl: language === 'ar' }">
            <span class="header-title-charts">{{
              "reparition_age_sex.title" | translate
              }}</span>
            <div class="legends">
              <div class="one-legend">
                <span class="d-inline-block wd-7 ht-7 rounded-circle mg-r-5" style="background-color: #6342D2;"></span>
                <span class="legend-label">{{ "male.title" | translate }}</span>
              </div>
              <div class="one-legend">
                <span class="d-inline-block wd-7 ht-7 rounded-circle mg-r-5" style="background-color: #59D5FD;"></span>
                <span class="legend-label">{{
                  "female.title" | translate
                  }}</span>
              </div>
            </div>
          </div>
          <app-charts [dataSource]="gendreAgeEndpoint" [chartLabel]="'ageGenderRepartition'" [chartType]="'bar'">
          </app-charts>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-chart cases-card">
          <div class="chart-header" [ngClass]="{ rtl: language === 'ar' }">
            <span class="header-title-charts">{{
              "source.title" | translate
              }}</span>
            <!-- <div class="legends">
              <div class="one-legend">
                <span class="d-inline-block wd-7 ht-7 rounded-circle mg-r-5" style="background-color: #6342D2;"></span>
                <span class="legend-label">Importé</span>
              </div>
              <div class="one-legend">
                <span class="d-inline-block wd-7 ht-7 rounded-circle mg-r-5" style="background-color: #59D5FD;"></span>
                <span class="legend-label">Local</span>
              </div>
            </div> -->
          </div>
          <app-charts [language]="language" [legend]="true" [dataSource]="sourceEndpoint" [chartLabel]="'sourcePie'"
                      [chartType]="'pie'">
          </app-charts>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="cases-card map">
          <div class="chart-header" [ngClass]="{ rtl: language === 'ar' }">
            <span class="header-title-charts">{{
              "cluster.title" | translate
              }}</span>
          </div>
          <style>
            .embed-container {
              position: relative;
              padding-bottom: 80%;
              height: 90%;
              max-width: 100%;
            }

            .embed-container iframe,
            .embed-container object,
            .embed-container iframe {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }

            small {
              position: absolute;
              z-index: 40;
              bottom: 0;
              margin-bottom: -15px;
            }
          </style>
          <div class="embed-container">
            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    title="Carte de situation COVID-19 (Tableau de bord Clair)"
                    src="//ageos-tunisie.maps.arcgis.com/apps/Embed/index.html?webmap=8c1087c6911b4407adc5aa1202be7fa0&extent=0.7993,29.6834,18.8608,37.9746&zoom=true&previewImage=false&scale=true&disable_scroll=true&theme=light"></iframe>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-chart cases-card">
          <div class="chart-header" [ngClass]="{ rtl: language === 'ar' }">
            <span class="header-title-charts">{{
              "govs.title" | translate
              }}</span>
            <!-- <div class="legends">
              <div class="one-legend">
                <span class="d-inline-block wd-7 ht-7 rounded-circle mg-r-5" style="background-color: #6342D2;"></span>
                <span class="legend-label">Masculin</span>
              </div>
              <div class="one-legend">
                <span class="d-inline-block wd-7 ht-7 rounded-circle mg-r-5" style="background-color: #59D5FD;"></span>
                <span class="legend-label">Fémenin</span>
              </div>
            </div> -->
          </div>
          <app-charts [language]="language" [dataSource]="govsEndpoint" [legend]="true" [chartLabel]="'govsPie'"
                      [chartType]="'pie'">
          </app-charts>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-chart cases-card">
          <div class="chart-header" [ngClass]="{ rtl: language === 'ar' }">
            <span class="header-title-charts">{{
              "countries_exports.title" | translate
              }}</span>
            <!-- <div class="legends">
              <div class="one-legend">
                <span class="d-inline-block wd-7 ht-7 rounded-circle mg-r-5" style="background-color: #6342D2;"></span>
                <span class="legend-label">Masculin</span>
              </div>
              <div class="one-legend">
                <span class="d-inline-block wd-7 ht-7 rounded-circle mg-r-5" style="background-color: #59D5FD;"></span>
                <span class="legend-label">Fémenin</span>
              </div>
            </div> -->
          </div>
          <app-charts [language]="language" [dataSource]="exportersEndpoint" [legend]="true"
                      [chartLabel]="'countriesPie'" [chartType]="'pie'"></app-charts>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card-chart cases-card table-chart" [ngClass]="{ rtl: language === 'ar' }">
          <div class="chart-header">
            <span class="header-title-charts">{{
              "case.title" | translate
              }}</span><br/>
          </div>
          <div class="table-container">
            <table class="table ">
              <thead>
              <tr class="table-light">
                <th>{{ "case.title" | translate }}</th>
                <th>{{ "confirmed_at.title" | translate }}</th>
                <th>{{ "age.title" | translate }}</th>
                <th>{{ "gender.title" | translate }}</th>
                <th>{{ "asymptomic_at.title" | translate }}</th>
                <th>{{ "help.title" | translate }}</th>
              </tr>
              </thead>
              <ng-container *ngFor="let case of casesPaginator; let i = index">
                <tr *ngIf="i < pageSize + (pageSize * pageIndex)">
                  <td class="table-light">
                    {{ case.case }}
                  </td>
                  <td class="table-light">
                    {{ case.confirmed_date }}
                  </td>
                  <td class="table-light">
                    {{ case.age }}
                  </td>
                  <td class="table-light">
                    {{ case.gender + ".title" | translate }}
                  </td>
                  <td class="table-light">
                    {{ case.symptomatic_at }}
                  </td>
                  <td><mat-icon class="icon" (click)="openHelpPopup(case.comment)">help</mat-icon></td>
                </tr>
              </ng-container>
            </table>
            <mat-paginator [length]="length"
                           [pageIndex]="pageIndex"
                           [pageSize]="pageSize"
                           [pageSizeOptions]="[5, 10, 25, 100]" (page)="getServerData($event)">
            </mat-paginator>
          </div>

          <!-- On rows -->
        </div>
      </div>
    </div>
  </div>
</div>
