<div class="container">
  <div class="list-content">
    <h2>Liste des déclarations</h2>
    <table>
      <tr>
        <th></th>
        <th>E-mail</th>
        <th>Age</th>
        <th>Poids</th>
        <th>Taille</th>
        <th>Fièvre</th>
        <th>Toux</th>
        <th>Frissons</th>
        <th>Détails</th>
      </tr>
      <tr class="tr-content" *ngFor="let item of declarationsList; let i = index" (click)="openDetailDialog(item)">
        <td>{{i + 1 }}</td>
        <td>{{item.email ? item.email : '-' }}</td>
        <td>{{item.symptom.age ? item.symptom.age : '-'}}</td>
        <td>{{item.symptom.size ? item.symptom.size : '-'}}</td>
        <td>{{item.symptom.weight ? item.symptom.size : '-'}}</td>
        <td>{{convertValue(item.symptom.fever)}}</td>
        <td>{{convertValue(item.symptom.cough)}}</td>
        <td>{{convertValue(item.symptom.chills)}}</td>
        <td><mat-icon>info</mat-icon></td>
      </tr>
    </table>
    <mat-paginator [length]="totalTests"
                   [pageIndex]="pageIndex"
                   [pageSize]="10"
                   [pageSizeOptions]="[10]"
                   (page)="getServerData($event)"
    >
    </mat-paginator>

  </div>
</div>
