table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

.tr-content:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}
.list-content {
  margin-top: 100px;
}
