<div class="container">
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <div class="row mt-5">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Confirmé</mat-label>
          <input matInput placeholder="Nombre" formControlName="Confirmed">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Nombre des cas hier</mat-label>
          <input matInput placeholder="Nombre de tests de depistage" formControlName="hospitalized">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Dechargé</mat-label>
          <input matInput placeholder="Adresse" formControlName="Discharged">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Rétabli </mat-label>
          <input matInput  placeholder="Quarantaine achevée" formControlName="Recovered">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Date de mise à jour</mat-label>
          <input matInput type="date" placeholder="Date de mise à jour" formControlName="date">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Quarantaine achevée </mat-label>
          <input matInput  placeholder="Quarantaine achevée" formControlName="quarantaine_achevee">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>NB Quarantaine </mat-label>
          <input matInput  placeholder="Quarantaine achevée" formControlName="quarantaine">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Nombre de test de depistage </mat-label>
          <input matInput  placeholder="Quarantaine achevée" formControlName="depistage">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button class="d-flex mx-auto mb-5" mat-raised-button type="submit">Update </button>
      </div>
    </div>
  </form>
</div>
