.card-chart {
  border: 1px solid rgba(72, 94, 144, 0.16);
  border-radius: 0.25rem;
  margin: 0 0 16px;
  padding: 16px;
}
.cases-card {
  height: 500px;
}
.no-chart {
  height: 100px;
}
.header-title {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: #1b2e4b;
  margin-bottom: 8px;
}
.header-title-charts {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: #1b2e4b;
  margin-bottom: 8px;
}
@media (min-width: 1200px) {
  .container {
    min-width: 1500px;
  }
}
