<div class="container">
  <!--HEADER-->
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center">
        <h3>Dashboard of the COVID-19 Virus</h3>
        <p>DATE</p>

      </div>
    </div>
  </div>
  <!---CONTENT-->
  <div class="content">
    <!---CARDS-->
    <div class="row">
      <div class="col-md-3">
        <div class="card">TEST</div>
      </div>
      <div class="col-md-3">
        <div class="card">TEST</div>
      </div>
      <div class="col-md-3">
        <div class="card">TEST</div>
      </div>
      <div class="col-md-3">
        <div class="card">TEST</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="card">Chart bar</div>
      </div>
      <div class="col-md-4">
        <div class="card">Chart PIE</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">PIE</div>
      </div>
      <div class="col-md-8">
        <div class="card">BAR</div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">MAP</div>
      </div>
      <div class="col-md-8">
        <div class="card">TABLE</div>
      </div>

    </div>
  </div>
</div>
