.card-chart, .map {
  border: 1px solid rgba(72, 94, 144, 0.16);
  border-radius: 0.25rem;
  margin: 0 0 16px;
  padding: 16px;
  position: relative;
}
.table {
  margin-top: 16px;
}
tr td {
  height: 60px;
}
.cases-card {
  height: 500px;
}
.no-chart {
  height: 100px;
}
.header-title {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: #1b2e4b;
  margin-bottom: 8px;
}
.header-title-charts {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: #1b2e4b;
  margin-bottom: 8px;
}
.table {
  overflow-y: scroll;
}
@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1610px !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  //CSS

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  //CSS

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .card-chart {
    height: 300px;
  }
  .table-chart {
    height: 500px;
  }
}
