<div class="">
  <!--HEADER-->
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center">
        <h3>Tableau de board du virus COVID-19 en Tunisie</h3>
      </div>
    </div>
  </div>
  <!---CONTENT-->
  <div class="">
    <!---CARDS-->
    <div class="row">
      <div class="col-md-3">
        <div class="card no-chart ml-0">
          <span class="header-title">Cas confirmés</span>
          <span>16</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card no-chart">
          <span class="header-title">Cas actuellement à l'hôpital</span>
          <span>16</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card no-chart">
          <span class="header-title">Cas en soins intensifs</span>
          <span>5</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card no-chart mr-0">
          <span class="header-title">Déchargé</span>
          <span>0</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="card-chart cases-card">
          <span class="header-title-charts">Nombre des cas par jour:</span>
          <div style="height: 90%;">
            <app-charts [chartType]="'line'"></app-charts>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-chart cases-card">
          <span class="header-title-charts">Genre:</span>
          <app-charts [chartType]="'pie'"></app-charts>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card-chart cases-card">
          <span class="header-title-charts">Nationalité:</span>
          <app-charts [chartType]="'pie'"></app-charts>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-chart cases-card">
          <span class="header-title-charts">Répartition par âge et par sexe</span>
          <app-charts [chartType]="'bar'"></app-charts>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-chart cases-card">
          <span class="header-title-charts">Source:</span>
          <app-charts [chartType]="'pie'"></app-charts>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="cases-card map">
          <span class="header-title-charts">Clusters:</span>
          <app-google-map></app-google-map>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-chart cases-card table-chart">
          <span class="header-title-charts">Cas:</span><br>
          <small class="text-muted">Cas déclarés en Tunisie</small>
          <table class="table">
            <thead>
              <tr class="table-light">
                <th>Cas</th>
                <th>Date confirmée</th>
                <th>Age</th>
                <th>Genre</th>
                <th>Syptomatique à</th>
              </tr>
            </thead>
            <tr>
              <td class="table-light">
                16
              </td>
              <td class="table-light">
                13 Mars 2020
              </td>
              <td class="table-light">
                13 Mars 2020
              </td>
              <td class="table-light">
                13 Mars 2020
              </td>
              <td class="table-light">
                13 Mars 2020
              </td>
            </tr>
            <tr>
              <td class="table-light">
                16
              </td>
              <td class="table-light">
                13 Mars 2020
              </td>
              <td class="table-light">
                13 Mars 2020
              </td>
              <td class="table-light">
                13 Mars 2020
              </td>
              <td class="table-light">
                13 Mars 2020
              </td>
            </tr>
            <tr>
              <td class="table-light">
                16
              </td>
              <td class="table-light">
                13 Mars 2020
              </td>
              <td class="table-light">
                13 Mars 2020
              </td>
              <td class="table-light">
                13 Mars 2020
              </td>
              <td class="table-light">
                13 Mars 2020
              </td>
            </tr>
            <tr>
              <td class="table-light">
                16
              </td>
              <td class="table-light">
                13 Mars 2020
              </td>
              <td class="table-light">
                13 Mars 2020
              </td>
              <td class="table-light">
                13 Mars 2020
              </td>
              <td class="table-light">
                13 Mars 2020
              </td>
            </tr>
          </table>
          <!-- On rows -->
        </div>
      </div>

    </div>
  </div>
</div>
