<div class="container">
  <!--HEADER-->
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center">
        <h3>Tableau de board du virus COVID-19 en Tunisie</h3>
      </div>
    </div>
  </div>
  <!---CONTENT-->
  <div class="">
    <!---CARDS-->
    <div class="row">
      <div class="col-md-3">
        <div class="card no-chart">
          <span class="header-title">Cas confirmés</span>
          <span>200</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card no-chart">
          <span class="header-title">Cas actuellement à l'hôpital</span>
          <span>200</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card no-chart">
          <span class="header-title">Cas en soins intensifs</span>
          <span>200</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card no-chart">
          <span class="header-title">Déchargé</span>
          <span>200</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="card-chart cases-card">
          <span class="header-title-charts">Number of cases per day:</span>
          <app-charts [chartType]="'line'"></app-charts>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-chart cases-card">
          <span class="header-title-charts">Genre:</span>
          <app-charts [chartType]="'pie'"></app-charts>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card-chart cases-card">
          <span class="header-title-charts">Nationalité:</span>
          <app-charts [chartType]="'pie'"></app-charts>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-chart cases-card">
          <span class="header-title-charts">Répartition par âge et par sexe</span>
          <app-charts [chartType]="'bar'"></app-charts>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card-chart cases-card">
          <span class="header-title-charts">Clusters:</span>
          <app-map></app-map>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-chart cases-card">
          <span class="header-title-charts">Cas:</span>
          <app-charts [chartType]="'line'"></app-charts>
        </div>
      </div>

    </div>
  </div>
</div>
