<div [formGroup]="symptomForm">
  <table>
    <tr>
      <th>au cours de cette maladie, le patient a-t-il présenté l'un des symptômes suivants
        خلال هذا المرض ، هل ضهر على المريض  أي من الأعراض التالية /</th>
      <th>الأعراض/ symptômes</th>
    </tr>
    <tr *ngFor="let item of symptomValues">
      <td>{{item.label}}</td>
      <td>
        <div [ngSwitch]="item.type">
          <div *ngSwitchCase="'number'" >
            <mat-radio-group  formControlName="{{item.value}}" >
              <mat-radio-button [value]=0>Oui / نعم</mat-radio-button>
              <mat-radio-button [value]=1>Non / لا</mat-radio-button>
              <mat-radio-button [value]=2><span class="smallSize"> Je ne sais pas / لا أعرف</span></mat-radio-button>
            </mat-radio-group>

<!--            <mat-error *ngIf="!symptomForm.controls[item.value].errors.required"></mat-error>-->
          </div>
          <div *ngSwitchCase="'string'">
            <mat-form-field>
              <input matInput placeholder="Other" formControlName="{{item.value}}">
            </mat-form-field>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>

<div class="mt-5 mb-0 d-flex justify-content-between">
  <p>conditions médicales préexistantes / الحالات الطبية الموجودة من قبل
  </p>
  <mat-radio-group [(ngModel)]="preExisting">
    <mat-radio-button [value]=0>Oui / نعم</mat-radio-button>
    <mat-radio-button [value]=1>Non / لا</mat-radio-button>
    <mat-radio-button [value]=2><span class="smallSize"> Je ne sais pas / لا أعرف</span></mat-radio-button>
  </mat-radio-group>
</div>

<div [formGroup]="medicalForm" *ngIf="preExisting === 0">
  <table>
    <tr *ngFor="let item of medicalExtension; let i = index">
      <td>{{item.label}}</td>
      <td>
        <div>
          <div *ngIf="item.type == 'group'">
            <div [formGroupName]="item.value">
              <mat-radio-group [formControlName]="item.valueRadioBox">
                <mat-radio-button [value]=0>Oui / نعم</mat-radio-button>
                <mat-radio-button [value]=1>Non / لا</mat-radio-button>
                <mat-radio-button [value]=2><span class="smallSize"> Je ne sais pas / لا أعرف</span></mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div *ngIf="item.type == 'number'">
            <mat-radio-group [formControlName]="item.value">
              <mat-radio-button [value]=0>Oui / نعم</mat-radio-button>
              <mat-radio-button [value]=1>Non / لا</mat-radio-button>
              <mat-radio-button [value]=2><span class="smallSize"> Je ne sais pas / لا أعرف</span></mat-radio-button>
            </mat-radio-group>
          </div>

        </div>
      </td>
      <td>
        <div [formGroupName]="item.value"
             *ngIf="item.type === 'group' && medicalForm.get(item.value).get(item.valueRadioBox).value === 0">
          <mat-form-field>
            <input matInput placeholder="Other" formControlName="{{item.valueInput}}">
          </mat-form-field>
        </div>
      </td>
    </tr>
  </table>
</div>

<!--Respiratory diagnostic-->
<div>
  <p class="mt-5 mb-0">tests de diagnostic respiratoire</p>
  <div [formGroup]="testingForm">
    <table>
      <tr>
        <th>Test</th>
        <th></th>
      </tr>
      <tr *ngFor="let item of testingDiag">
        <td>
          <div class="d-flex align-items-center justify-content-between">
            <p class="mb-1">{{item.label}}</p>
            <div [ngSwitch]="item.valueType" class="ml-3">
              <div [formGroupName]="item.value">
                <div *ngSwitchCase="'type'">
                  <mat-radio-group formControlName="firstValue">
                    <mat-radio-button [value]=0>A</mat-radio-button>
                    <mat-radio-button [value]=1>B</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div *ngSwitchCase="'string'">
                  <mat-form-field>
                    <input matInput placeholder="Other" formControlName="firstValue">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div>
            <div *ngIf="item.type === 'number'">
              <mat-radio-group [formControlName]="item.value">
                <mat-radio-button [value]=0>Pos</mat-radio-button>
                <mat-radio-button [value]=1>Neg</mat-radio-button>
                <mat-radio-button [value]=2>Pend.</mat-radio-button>
                <mat-radio-button [value]=3>Not done</mat-radio-button>
              </mat-radio-group>
            </div>

            <div *ngIf="item.type === 'group'" >
              <div formGroupName="{{item.value}}">
                <mat-radio-group required formControlName="secondValue">
                  <mat-radio-button [value]=0>Pos</mat-radio-button>
                  <mat-radio-button [value]=1>Neg</mat-radio-button>
                  <mat-radio-button [value]=2>Pend.</mat-radio-button>
                  <mat-radio-button [value]=3>Not done</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

          </div>
        </td>
      </tr>
    </table>
  </div>
</div>


<!--Specimens-->
<div [formGroup]="specimensForm">
  <p class="mb-0 mt-5">Échantillon pour COVID-19</p>
  <table>
    <tr>
      <th>Type de l’échantillon</th>
      <th>ID de l’échantillon</th>
      <th>DONNÉES COLLECTÉES</th>
      <th>Testé en laboratoire par l'État</th>
      <th>Résultat du laboratoire d'état</th>
      <th>Envoyé au centre de contrôle des maladies</th>
      <th>Résultat du centres de contrôle des maladies</th>
    </tr>

    <ng-container *ngFor="let item of specimen">
      <tr *ngIf="item.type === 'object'; else notObject" [formGroupName]="item.value">
        <td>{{item.label}}</td>
        <td>
          <mat-form-field>
            <input matInput formControlName="specimenID">
            <mat-error></mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput formControlName="DateCollected">
            <mat-error></mat-error>
          </mat-form-field>
        </td>
        <td>
          <div class="text-center">
            <mat-checkbox formControlName="labTested"></mat-checkbox>
          </div>
        </td>
        <td>
          <mat-form-field>
            <input matInput formControlName="labResult">
            <mat-error></mat-error>
          </mat-form-field>
        </td>
        <td>
          <div class="text-center">
            <mat-checkbox formControlName="sentCDC"></mat-checkbox>
          </div>
        </td>
        <td>
          <mat-form-field>
            <input matInput formControlName="CDCResult">
            <mat-error></mat-error>
          </mat-form-field>
        </td>
      </tr>
      <ng-template #notObject>
        <tr>
          <td>
            <p class="mb-0">
              {{item.label}}
            </p>
            <mat-form-field>
              <input matInput formControlName="{{item.value}}">
            </mat-form-field>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </ng-template>
    </ng-container>
  </table>
</div>

<!--Additional State-->

<button mat-stroked-button class="mt-3 float-right" (click)="save()">Confirmer</button>
