<div [formGroup]="symptomForm">
  <p>During this illness, did the patient experience any of th following symptoms ?</p>
  <tr *ngFor="let item of symptomValues; let i = index">
    <ng-container *ngIf="i == symptomsIndex">
      <td>{{item.label}}</td>
      <td [ngSwitch]="item.type">
        <div *ngSwitchCase="'number'">
          <mat-radio-group formControlName="{{item.value}}">
            <mat-radio-button [value]=0>Yes</mat-radio-button>
            <mat-radio-button [value]=1>No</mat-radio-button>
            <mat-radio-button [value]=2>Unknown</mat-radio-button>
          </mat-radio-group>

          <!--            <mat-error *ngIf="!symptomForm.controls[item.value].errors.required"></mat-error>-->
        </div>
        <div *ngSwitchCase="'string'">
          <mat-form-field>
            <input matInput placeholder="Other" formControlName="{{item.value}}">
          </mat-form-field>
        </div>
      </td>
    </ng-container>
  </tr>
  <button mat-stroked-button class="mt-2" (click)="previous('symptomsIndex')">Previous</button>
  <button mat-stroked-button class="mt-2 ml-2" (click)="next('symptomsIndex', symptomValues.length)">Next</button>
</div>
<hr>
<div class="mt-5 mb-0 d-flex justify-content-between">
  <p>Pre-existing medical conditions ?</p>
  <mat-radio-group [(ngModel)]="preExisting">
    <mat-radio-button [value]=0>Yes</mat-radio-button>
    <mat-radio-button [value]=1>No</mat-radio-button>
    <mat-radio-button [value]=2>Unknown</mat-radio-button>
  </mat-radio-group>
</div>

<div [formGroup]="medicalForm" *ngIf="preExisting === 0">
  <tr *ngFor="let item of medicalExtension; let i = index">
    <ng-container *ngIf="medicalIndex == i">
      <td>{{item.label}}</td>
      <td>
        <div>
          <div *ngIf="item.type == 'group'">
            <div [formGroupName]="item.value">
              <mat-radio-group [formControlName]="item.valueRadioBox">
                <mat-radio-button [value]=0>yes</mat-radio-button>
                <mat-radio-button [value]=1>No</mat-radio-button>
                <mat-radio-button [value]=2>Unknown</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div *ngIf="item.type == 'number'">
            <mat-radio-group [formControlName]="item.value">
              <mat-radio-button [value]=0>Yes</mat-radio-button>
              <mat-radio-button [value]=1>No</mat-radio-button>
              <mat-radio-button [value]=2>Unknown</mat-radio-button>
            </mat-radio-group>
          </div>

        </div>
      </td>
      <td>
        <div [formGroupName]="item.value"
             *ngIf="item.type === 'group' && medicalForm.get(item.value).get(item.valueRadioBox).value === 0">
          <mat-form-field>
            <input matInput placeholder="Other" formControlName="{{item.valueInput}}"
                   (blur)="medicalForm.get(item.value).get('blur').patchValue(true)">
          </mat-form-field>
        </div>
      </td>
    </ng-container>
  </tr>
  <button mat-stroked-button class="mt-2" (click)="previous('medicalIndex')">Previous</button>
  <button mat-stroked-button class="mt-2 ml-2" (click)="next('medicalIndex', medicalExtension.length)">Next</button>
</div>
<hr>
<!--Respiratory diagnostic-->
<div>
  <p class="mt-5 mb-0">Respiratory Diagnostic Testing</p>
  <div [formGroup]="testingForm">
    <tr *ngFor="let item of testingDiag; let i = index">
      <ng-container *ngIf="testingIndex == i">
        <td>
          <div class="d-flex align-items-center justify-content-between">
            <p class="mb-1">{{item.label}}</p>
            <div [ngSwitch]="item.valueType" class="ml-3">
              <div [formGroupName]="item.value">
                <div *ngSwitchCase="'type'">
                  <mat-radio-group formControlName="firstValue">
                    <mat-radio-button [value]=0>A</mat-radio-button>
                    <mat-radio-button [value]=1>B</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div *ngSwitchCase="'string'">
                  <mat-form-field>
                    <input matInput placeholder="Other" formControlName="firstValue">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div>
            <div *ngIf="item.type === 'number'">
              <mat-radio-group [formControlName]="item.value">
                <mat-radio-button [value]=0>Pos</mat-radio-button>
                <mat-radio-button [value]=1>Neg</mat-radio-button>
                <mat-radio-button [value]=2>Pend.</mat-radio-button>
                <mat-radio-button [value]=3>Not done</mat-radio-button>
              </mat-radio-group>
            </div>

            <div *ngIf="item.type === 'group'">
              <div formGroupName="{{item.value}}">
                <mat-radio-group required formControlName="secondValue">
                  <mat-radio-button [value]=0>Pos</mat-radio-button>
                  <mat-radio-button [value]=1>Neg</mat-radio-button>
                  <mat-radio-button [value]=2>Pend.</mat-radio-button>
                  <mat-radio-button [value]=3>Not done</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

          </div>
        </td>
      </ng-container>
    </tr>
    <button mat-stroked-button class="mt-2" (click)="previous('testingIndex')">Previous</button>
    <button mat-stroked-button class="mt-2 ml-2" (click)="next('testingIndex', testingDiag.length)">Next</button>
  </div>
</div>

<hr>
<!--Specimens-->
<div [formGroup]="specimensForm">
  <p class="mb-0 mt-5">Specimens for COVID-19 Testing</p>
  <table>
    <tr>
      <th>Specimen Type</th>
      <th>Specimen ID</th>
      <th>Date Collected</th>
      <th>State Lab Tested</th>
      <th>State Lab Result</th>
      <th>Sent to CDC</th>
      <th>CDC Result</th>
    </tr>

    <ng-container *ngFor="let item of specimen; let i = index">
      <tr *ngIf="item.type === 'object'; else notObject" [formGroupName]="item.value">
        <ng-container *ngIf="specimensIndex == i">
          <td>{{item.label}}</td>
          <td>
            <mat-form-field>
              <input matInput formControlName="specimenID">
              <mat-error></mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput formControlName="DateCollected">
              <mat-error></mat-error>
            </mat-form-field>
          </td>
          <td>
            <div class="text-center">
              <mat-checkbox formControlName="labTested"></mat-checkbox>
            </div>
          </td>
          <td>
            <mat-form-field>
              <input matInput formControlName="labResult">
              <mat-error></mat-error>
            </mat-form-field>
          </td>
          <td>
            <div class="text-center">
              <mat-checkbox formControlName="sentCDC"></mat-checkbox>
            </div>
          </td>
          <td>
            <mat-form-field>
              <input matInput formControlName="CDCResult">
              <mat-error></mat-error>
            </mat-form-field>
          </td>
        </ng-container>
      </tr>
      <ng-template #notObject>
        <tr>
          <ng-container *ngIf="specimensIndex == i">
          <td>
            <p class="mb-0">
              {{item.label}}
            </p>
            <mat-form-field>
              <input matInput formControlName="{{item.value}}">
            </mat-form-field>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          </ng-container>
        </tr>
      </ng-template>
    </ng-container>
  </table>
  <button mat-stroked-button class="mt-2" (click)="previous('specimensIndex')">Previous</button>
  <button mat-stroked-button class="mt-2 ml-2" (click)="next('specimensIndex', specimen.length)">{{'Next'}}</button>
</div>

<!--Additional State-->

<button mat-stroked-button class="mt-3 float-right" (click)="onClick()">Save</button>
