table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}
.align-column {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.align ~ .mat-radio-button {
  margin-left: 16px;
}

.mat-form-field {
  width: 100px;
}
.title {
  font-size: 18px;
  font-weight: 500;
}
.input-other {
  margin-left: 20px;
}

.label {
  font-size: 26px;
  font-weight: 500;
  line-height: 28pt;
  margin-bottom: 25px;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  margin-top: -24px;
}


.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.div-title {
  background: #f8f8f8;
  padding: 50px;
  border-radius: 0 0 10px 10px;
}
.div-questions {
  padding: 50px;
  font-size: 20px;
}
.buttons {
  padding: 20px;
  text-align: center;
  button {
    font-size: 15px;

  }
}
.question {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background: #3BA756;
  border-radius: 10px 10px 0 0;
  p {
    color: white;
    margin-bottom: 0;
  }
}
.question-response {
  border: 1px solid;
  border-radius: 0 0 10px 10px;
}
