table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}
.align-column {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.align{
  margin-left: 16px;
}

.mat-form-field {
  width: 100px;
}
.title {
  font-size: 18px;
  font-weight: bold;
}
.input-other {
  margin-left: 20px;
}

.label {
  font-size: 16px;
  font-weight: 500;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  margin-top: -24px;
}

.example-radio-group {

}
.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
