<div class="container">
  <h3 class="text-center"><b>ID de cas</b></h3>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <div class="row mx-auto">
      <div class="col-12">

        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Nom Complet</mat-label>
              <input matInput placeholder="Nom Complet" formControlName="fullName">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Date de Naissance </mat-label>
              <input matInput type="date" placeholder="Date de Naissance " formControlName="dateBirth">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Sexe</mat-label>
              <mat-select formControlName="gender">
                <mat-option>--</mat-option>
                <mat-option value="men">
                  Homme
                </mat-option>
                <mat-option value="women">
                  Feme
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Nationalité</mat-label>
              <mat-select formControlName="nationality">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let item of nationality" [value]="item.nationality">
                  {{item.nationality}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline" (click)="focusFunction('address_input')">
              <mat-label>Adresse</mat-label>
              <input matInput placeholder="Adresse" formControlName="adress" id="address_input">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" (click)="focusFunction('work_location')">
              <mat-label>Lieu de travail</mat-label>
              <input matInput placeholder="Lieu de travail" formControlName="workLocation" id="work_location">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Télèphone</mat-label>
              <input matInput placeholder="Télèphone" formControlName="phone">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Télèphone d'urgance</mat-label>
              <input matInput placeholder="Télèphone d'urgance" formControlName="supportPhone">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-11">
            <div formArrayName="infectedFamily">
              <h3><b>Famille séropositive</b></h3>

              <div *ngFor="let alias of infectedFamily.controls; let i=index">
                <div [formGroupName]="i" class="d-flex justify-content-start">
                  <mat-form-field appearance="outline" class="mr-4">
                    <mat-label>Nom du personne infecté </mat-label>
                    <input matInput placeholder="Nom du personne infecté" formControlName="name">
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Posibilité d'infection</mat-label>
                    <mat-select formControlName="infection">
                      <mat-option>--</mat-option>
                      <mat-option value="high">
                        Elevée
                      </mat-option>
                      <mat-option value="low">
                        Faible
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <i class="material-icons ml-2 mt-2" (click)="removeAlias(i)" *ngIf="i > 0">
                    delete_outline
                  </i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1 mt-5">
            <button class="circle" (click)="addAlias()">
              <img id="addSign"
                src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/2x/btw_ic_speeddial_white_24dp_2x.png"
                alt="" />
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-11">
            <div formArrayName="location">
              <h3><b>Emplacement La plus récent</b></h3>
              <div *ngFor="let alias of location.controls; let i=index">
                <div [formGroupName]="i" class="d-flex justify-content-start">
                  <mat-form-field appearance="outline" class="mr-4" (click)="focusFunction('recent_location' + i , i)">
                    <mat-label>Emplacement</mat-label>
                    <input matInput placeholder="Emplacement" formControlName="place" [id]="'recent_location' + i">
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Date</mat-label>
                    <input matInput placeholder="Date" type="date" formControlName="date">
                  </mat-form-field>
                  <i class="material-icons ml-2 mt-2" (click)="removeLocation(i)" *ngIf="i > 0">
                    delete_outline
                  </i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1 mt-5">
            <button class="circle" (click)="addLocation()">
              <img id="addSign"
                src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/2x/btw_ic_speeddial_white_24dp_2x.png"
                alt="" />
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <h3><b>Voyage Récent</b></h3>
          </div>
          <div class="col-md-2">

            <mat-form-field appearance="outline" class="mr-4">
              <mat-label>Emplacement</mat-label>
              <mat-select formControlName="travelEtat">
                <mat-option>--</mat-option>
                <mat-option value="yes">
                  Oui
                </mat-option>
                <mat-option value="no">
                  Non
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-9" *ngIf="profileForm.get('travelEtat').value === 'yes'">
            <div formArrayName="travel">

              <div *ngFor="let alias of travel.controls; let i=index">
                <div [formGroupName]="i" class="d-flex justify-content-start">

                  <mat-form-field appearance="outline" class="mr-2">
                    <mat-label>Date</mat-label>
                    <input matInput placeholder="Date" type="date" formControlName="date">
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="mr-2">
                    <mat-label>De</mat-label>
                    <input matInput placeholder="De" formControlName="from">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>à</mat-label>
                    <input matInput placeholder="à" formControlName="to">
                  </mat-form-field>
                  <i class="material-icons ml-2 mt-2" (click)="removeTravel(i)" *ngIf="i > 0">
                    delete_outline
                  </i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1" *ngIf="profileForm.get('travelEtat').value === 'yes'">
            <button class="circle" (click)="addTravel()">
              <img id="addSign"
                src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/2x/btw_ic_speeddial_white_24dp_2x.png"
                alt="" />
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
            <mat-form-field appearance="outline" class="mr-4">
              <mat-label>Lien avec un cas</mat-label>
              <mat-select formControlName="caseEtat">
                <mat-option>--</mat-option>
                <mat-option value="yes">
                  Oui
                </mat-option>
                <mat-option value="no">
                  Non
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6" *ngIf="profileForm.get('caseEtat').value === 'yes'">
            <div formArrayName="caseId">

              <div *ngFor="let alias of caseId.controls; let i=index">
                <div [formGroupName]="i" class="d-flex justify-content-start ">



                  <mat-form-field appearance="outline" class="mr-2">
                    <mat-label>ID de cas</mat-label>
                    <input matInput placeholder="ID" formControlName="id">
                  </mat-form-field>
                  <i class="material-icons ml-2 mt-2" (click)="removeCase(i)" *ngIf="i > 0">
                    delete_outline
                  </i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1" *ngIf="profileForm.get('caseEtat').value === 'yes'">
            <button class="circle" (click)="addCase()">
              <img id="addSign"
                src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/2x/btw_ic_speeddial_white_24dp_2x.png"
                alt="" />
            </button>
          </div>
        </div>

        <div class="row" formGroupName="symptoms">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Symptôme</mat-label>
              <mat-select formControlName="etat">
                <mat-option>--</mat-option>
                <mat-option value="yes">
                  Oui
                </mat-option>
                <mat-option value="no">
                  Non
                </mat-option>
                <mat-option value="unknown">
                  Inconnu
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" *ngIf="profileForm.get('symptoms').get('etat').value === 'yes'">
              <mat-label>Date</mat-label>
              <input type="date" matInput placeholder="Date" type="date" formControlName="date">
            </mat-form-field>
          </div>
        </div>

        <div class="row" formGroupName="status">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Statut</mat-label>
              <mat-select formControlName="case">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let item of status" [value]="item">
                  {{item}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Date</mat-label>
              <input type="date" matInput placeholder="date" type="date" formControlName="date">
            </mat-form-field>
          </div>
        </div>

        <div class="row" formGroupName="hospitalized">
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Hospitalisé ?</mat-label>
              <mat-select formControlName="etat">
                <mat-option>--</mat-option>
                <mat-option value="yes">
                  Oui
                </mat-option>
                <mat-option value="no">
                  Non
                </mat-option>

              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4" *ngIf="profileForm.get('hospitalized').get('etat').value === 'yes'">
            <mat-form-field appearance="outline">
              <mat-label>Date</mat-label>
              <input type="date" matInput placeholder="date" type="date" formControlName="date">
            </mat-form-field>
          </div>
          <div class="col-md-4" *ngIf="profileForm.get('hospitalized').get('etat').value === 'yes'">
            <mat-form-field appearance="outline" (click)="focusFunction('hospital_place')">
              <mat-label>Hopital</mat-label>
              <input matInput placeholder="Hopital" formControlName="adress" id="hospital_place" (click)="focusFunction('hospital_place')">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div>
              <p><small> le patient a-t-il reçu un autre diagnostic de sa maladie</small></p>
              <mat-form-field appearance="outline">
                <mat-label>Etat</mat-label>

                <mat-select formControlName="diagnosis">
                  <mat-option>--</mat-option>
                  <mat-option value="yes">
                    Oui
                  </mat-option>
                  <mat-option value="no">
                    Non
                  </mat-option>
                  <mat-option value="unknown">
                    Inconnu
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

      </div>
    </div>
    <hr>
    <button class="d-flex mx-auto" type="submit" mat-raised-button [disabled]="!profileForm.valid">Envoyer</button>
  </form>
</div>




<!--
<p>
  Form Value: {{ profileForm.value | json }}
</p>


<p>
  Form Status: {{ profileForm.status }}
</p> -->
