<div>
  <p><b>CASE ID</b></p>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-7" style="    display: inline-grid;">
        <mat-form-field appearance="outline">
          <mat-label>Full Name</mat-label>
          <input matInput placeholder="Full Name" formControlName="fullName">
        </mat-form-field>

        <!-- <mat-form-field>
          <mat-label>Custom calendar header</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dateBirth">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
        </mat-form-field> -->


        <mat-form-field appearance="outline">
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender" >
            <mat-option>--</mat-option>
            <mat-option value="men">
              Men
            </mat-option>
            <mat-option value="women">
              Women
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Nationality</mat-label>
          <mat-select formControlName="nationality" >
            <mat-option>--</mat-option>
            <mat-option *ngFor="let item of nationality" [value]="item.nationality" >
              {{item.nationality}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Phone</mat-label>
          <input matInput placeholder="Phone" formControlName="phone">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>SupportPhone</mat-label>
          <input matInput placeholder="Support Phone" formControlName="supportPhone">
        </mat-form-field>
      </div>
    </div>

    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  </form>

  <hr>


  <p>
    Form Value: {{ profileForm.value | json }}
  </p>


  <p>
    Form Status: {{ profileForm.status }}
  </p>

  <p>
    <button (click)="updateProfile()">Update Profile</button>
  </p>



</div>
