<div class="container">
  <h3 class="text-center"><b>CASE ID</b></h3>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <div class="row mx-auto">
      <div class="col-12">

        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Full Name</mat-label>
              <input matInput placeholder="Full Name" formControlName="fullName">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Date of Birth</mat-label>
              <input matInput type="date" placeholder="Date of Birth" formControlName="dateBirth">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Gender</mat-label>
              <mat-select formControlName="gender">
                <mat-option>--</mat-option>
                <mat-option value="men">
                  Men
                </mat-option>
                <mat-option value="women">
                  Women
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Nationality</mat-label>
              <mat-select formControlName="nationality">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let item of nationality" [value]="item.nationality">
                  {{item.nationality}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline" (click)="focusFunction('address_input')">
              <mat-label>Adress</mat-label>
              <input matInput placeholder="Adress" formControlName="adress" id="address_input">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" (click)="focusFunction('work_location')">
              <mat-label>Work Location</mat-label>
              <input matInput placeholder="Work Location Adress" formControlName="workLocation" id="work_location">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Phone</mat-label>
              <input matInput placeholder="Phone" formControlName="phone">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>SupportPhone</mat-label>
              <input matInput placeholder="Support Phone" formControlName="supportPhone">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-11">
            <div formArrayName="infectedFamily">
              <h3><b>Infected Family</b></h3>

              <div *ngFor="let alias of infectedFamily.controls; let i=index">
                <div [formGroupName]="i" class="d-flex justify-content-start">
                  <mat-form-field appearance="outline" class="mr-4">
                    <mat-label>Family member </mat-label>
                    <input matInput placeholder="Family member " formControlName="name">
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Infection posibility</mat-label>
                    <mat-select formControlName="infection">
                      <mat-option>--</mat-option>
                      <mat-option value="high">
                        High
                      </mat-option>
                      <mat-option value="low">
                        Low
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>
              </div>
            </div>
          </div>
          <div class="col-1 mt-5">
            <button class="circle" (click)="addAlias()">
              <img id="addSign"
                src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/2x/btw_ic_speeddial_white_24dp_2x.png"
                alt="" />
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-11">
            <div formArrayName="location">
              <h3><b>Recent Location</b></h3>
              <div *ngFor="let alias of location.controls; let i=index">
                <div [formGroupName]="i" class="d-flex justify-content-start">
                  <mat-form-field appearance="outline" class="mr-4" (click)="focusFunction('recent_location' + i)">
                    <mat-label>Place</mat-label>
                    <input matInput placeholder="Place" formControlName="place" [id]="'recent_location' + i">
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>date</mat-label>
                    <input matInput placeholder="date" type="date" formControlName="date">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="col-1 mt-5">
            <button class="circle" (click)="addLocation()">
              <img id="addSign"
                src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/2x/btw_ic_speeddial_white_24dp_2x.png"
                alt="" />
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <h3><b>Have Traveled ?</b></h3>
          </div>
          <div class="col-2">

            <mat-form-field appearance="outline" class="mr-4">
              <mat-label>Place</mat-label>
              <mat-select formControlName="travelEtat">
                <mat-option>--</mat-option>
                <mat-option value="yes">
                  Yes
                </mat-option>
                <mat-option value="no">
                  No
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-9" *ngIf="profileForm.get('travelEtat').value === 'yes'">
            <div formArrayName="travel">

              <div *ngFor="let alias of travel.controls; let i=index">
                <div [formGroupName]="i" class="d-flex justify-content-start">

                  <mat-form-field appearance="outline" class="mr-2">
                    <mat-label>date</mat-label>
                    <input matInput placeholder="date" type="date" formControlName="date">
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="mr-2">
                    <mat-label>From</mat-label>
                    <input matInput placeholder="From" formControlName="from">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>To</mat-label>
                    <input matInput placeholder="To" formControlName="to">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="col-1" *ngIf="profileForm.get('travelEtat').value === 'yes'">
            <button class="circle" (click)="addTravel()">
              <img id="addSign"
                src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/2x/btw_ic_speeddial_white_24dp_2x.png"
                alt="" />
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
            <mat-form-field appearance="outline" class="mr-4">
              <mat-label>Connection to a cases</mat-label>
              <mat-select formControlName="caseEtat">
                <mat-option>--</mat-option>
                <mat-option value="yes">
                  Yes
                </mat-option>
                <mat-option value="no">
                  No
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6" *ngIf="profileForm.get('caseEtat').value === 'yes'">
            <div formArrayName="caseId">

              <div *ngFor="let alias of caseId.controls; let i=index">
                <div [formGroupName]="i" class="d-flex justify-content-start">



                  <mat-form-field appearance="outline" class="mr-2">
                    <mat-label>Case Id</mat-label>
                    <input matInput placeholder="ID" formControlName="id">
                  </mat-form-field>

                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1" *ngIf="profileForm.get('caseEtat').value === 'yes'">
            <button class="circle" (click)="addCase()">
              <img id="addSign"
                src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/2x/btw_ic_speeddial_white_24dp_2x.png"
                alt="" />
            </button>
          </div>
        </div>

        <div class="row" formGroupName="symptoms">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Displayed symptoms</mat-label>
              <mat-select formControlName="etat">
                <mat-option>--</mat-option>
                <mat-option value="yes">
                  Yes
                </mat-option>
                <mat-option value="no">
                  No
                </mat-option>
                <mat-option value="unknown">
                  Unknown
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" *ngIf="profileForm.get('symptoms').get('etat').value === 'yes'">
              <mat-label>date</mat-label>
              <input type="date" matInput placeholder="date" type="date" formControlName="date">
            </mat-form-field>
          </div>
        </div>

        <div class="row" formGroupName="status">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Status</mat-label>
              <mat-select formControlName="case">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let item of status" [value]="item">
                  {{item}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>date</mat-label>
              <input type="date" matInput placeholder="date" type="date" formControlName="date">
            </mat-form-field>
          </div>
        </div>

        <div class="row" formGroupName="hospitalized">
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Hospitalized ?</mat-label>
              <mat-select formControlName="etat">
                <mat-option>--</mat-option>
                <mat-option value="yes">
                  Yes
                </mat-option>
                <mat-option value="no">
                  No
                </mat-option>

              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4" *ngIf="profileForm.get('hospitalized').get('etat').value === 'yes'">
            <mat-form-field appearance="outline">
              <mat-label>date</mat-label>
              <input type="date" matInput placeholder="date" type="date" formControlName="date">
            </mat-form-field>
          </div>
          <div class="col-md-4" *ngIf="profileForm.get('hospitalized').get('etat').value === 'yes'">
            <mat-form-field appearance="outline" (click)="focusFunction('hospital_place')">
              <mat-label>Hospital</mat-label>
              <input matInput placeholder="Name Hospital" formControlName="adress" id="hospital_place">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div>
              <p><small> Did the patient have another
                  diagnosis/etiology for their illness?</small></p>
              <mat-form-field appearance="outline">
                <mat-label>Etat</mat-label>

                <mat-select formControlName="diagnosis">
                  <mat-option>--</mat-option>
                  <mat-option value="yes">
                    Yes
                  </mat-option>
                  <mat-option value="no">
                    No
                  </mat-option>
                  <mat-option value="unknown">
                    Unknown
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

      </div>
    </div>
    <hr>
    <button class="d-flex mx-auto" type="submit" mat-raised-button [disabled]="!profileForm.valid">Submit</button>
  </form>
</div>





<p>
  Form Value: {{ profileForm.value | json }}
</p>


<p>
  Form Status: {{ profileForm.status }}
</p>
